/* Stylesheet for Weather App */

/* General Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 40px;
}

/* Header Section */

.header {
    background-color: rgb(31, 31, 31);
    color: white;
    padding: 5px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContent {
    max-width: 1200px;

    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.heading {
    display: flex;
    align-items: center;
    gap: 20px;
}

h1 {
    display: none;
}

.logo {
    height: 40px;
}

.location {
    font-size: 0.8rem;
}

.searchContainer {
    background-color: white;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    gap: 3px;
}

.searchIcon {
    height: 15px;
}

.search {
    max-width: 80px;
}

.search,
.submitBtn {
    font-size: 0.8rem;
    padding: 3px;

    border: none;
    background-color: white;
}

.search:focus {
    outline: none;
}

.submitBtn:hover {
    cursor: pointer;
}

@media (min-width: 600px) {
    .logo {
        height: 60px;
    }

    .location {
        font-size: 1.2rem;
    }

    .heading {
        gap: 40px;
    }

    .search {
        max-width: 150px;
    }

    .searchIcon {
        height: 20px;
    }

    .search,
    .submitBtn {
        font-size: 1rem;
    }
}

@media (min-width: 900px) {
    h1 {
        display: block;
    }
}

/* Main Section */

.main {
    background-color: rgb(235, 235, 235);
    padding: 20px;

    display: flex;
    justify-content: center;
}

.mainContent {
    display: grid;
    grid-template-columns: minmax(250px, 800px);
    gap: 20px;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 95%);
    }

    100% {
        background-color: hsl(200, 20%, 80%);
    }
}

.outerWrapper,
.errorWrapper {
    width: 100%;
    min-height: 300px;

    border-radius: 10px;
}

.errorContainer {
    background-color: white;
    padding: 20px 80px;
    border-radius: 10px;

    width: 100%;
    min-height: 300px;

    display: grid;
    grid-template-rows: 30px 1fr 50px;
    justify-items: center;
    text-align: center;
}

.conditionContainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    width: 100%;
    min-height: 300px;

    display: grid;
    grid-template-rows: 30px 1fr;
}

.conditionContainer.hideContainer,
.outerWrapper.hideContainer,
.errorWrapper.hideContainer {
    display: none;
}

.currentWeather {
    display: grid;
    grid-template-areas:
        "display"
        "details";
}

.currentWeatherDisplay {
    font-size: 1.4rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

    grid-area: display;
}

.currentCondition {
    display: grid;
    grid-template-rows: 60px 1fr 1fr;
    justify-items: center;
    text-align: center;
}

.currentTime {
    font-size: 1.2rem;
    justify-self: left;
}

.currentConditionIcon {
    height: 130px;
}

.currentTemp {
    font-size: 3rem;
}

.currentWeatherDetails {
    font-size: 1.2rem;
    display: grid;
    gap: 3px;

    grid-area: details;
}

.currentWeatherDetails hr {
    height: 1px;
}

.currentWeatherItem {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 0 10px;
}

.weatherItemData {
    text-align: end;
}

.airQualityContainer {
    padding: 0;
    display: grid;
    grid-template-rows: 500px 1fr;
    overflow: hidden;

    height: 500px;
    transition: height 0.4s ease-in-out;
}

.airQualityContainer.expandAirQuality {
    height: fit-content;
}

.airQualityMain {
    padding: 20px;
    display: grid;
    grid-template-rows: 40px 1fr 30px;
}

.airQuality {
    display: grid;
    grid-template-areas:
        "display"
        "details";
}

.airQualityDisplay {
    height: 180px;
    width: 180px;
    font-size: 2rem;
    font-weight: bold;

    position: relative;
    grid-area: display;
    align-self: center;
    justify-self: center;
}

.displayRing {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);

    position: relative;

    display: grid;
    place-items: center;
}

.displayRing:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: white;
    border-radius: 50%;
}

.aqiValue {
    position: relative;
}

.airQualityDetails {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    width: 95%;
    grid-area: details;
}

.airQualityHeader {
    font-size: 1.6rem;
}

.detailsBtnDiv {
    justify-self: end;
}

.airQualityBtn {
    background-color: rgb(236, 110, 76);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 5px 10px;
    width: fit-content;

    border: none;
    border-radius: 5px;
}

.airQualityBtn:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.airQualityComponents {
    padding: 20px;
    display: grid;
    gap: 10px;
}

.airQualityComponents hr {
    height: 1px;
}

.airQualityComponent {
    display: grid;
    gap: 20px;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
}

.forecast {
    display: grid;
}

.forecastTile {
    height: 80px;
    overflow: hidden;
    border-bottom: 1px solid grey;

    display: grid;
    grid-template-rows: 80px 1fr;
    gap: 5px;

    transition: height 0.4s ease-in-out;
}

.forecastTile.expandForecast {
    height: fit-content;
}

.forecastTileMain {
    font-size: 0.9rem;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forecastTileDisplay {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.forecastIcon {
    height: 40px;
}

.expandBtn {
    font-size: 1.6rem;
    background: none;
    border: none;
}

.expandBtn:hover {
    cursor: pointer;
}

.forecastTileSupp {
    padding: 5px;
    font-size: 0.7rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.forecastItem {
    padding: 0 5px;
    min-height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.forecastItemProperty {
    padding-left: 5px;
}

.forecastItemData {
    padding-right: 5px;
    text-align: end;
}

.forecastHr {
    height: 1px;
    grid-column: 1 / -1;
}

@media (min-width: 600px) {
    .currentWeather {
        grid-template-areas: "display details";
    }

    .airQuality {
        grid-template-areas: "display details";
        gap: 40px;
    }

    .airQualityContainer {
        grid-template-rows: 340px 1fr;

        height: 340px;
    }

    .forecastTileMain {
        font-size: 1.2rem;
    }

    .forecastTileDisplay {
        font-size: 1.8rem;
        gap: 20px;
    }

    .forecastIcon {
        height: 60px;
    }

    .expandBtn {
        font-size: 2rem;
    }

    .forecastTileSupp {
        padding: 10px;
        gap: 10px;
        font-size: 1.2rem;
    }
}

/* Footer Section */

.footer {
    background-color: rgb(31, 31, 31);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
